<div>
    <!-- Main -->
    <div id="main">


        @await Html.PartialAsync("OneSectionPartial")

        @await Html.PartialAsync("TwoSectionPartial")

        @await Html.PartialAsync("ThreeSectionPartial")


    </div>
</div>