@using MyResume.Service
<footer id="footer">
    <div class="inner">
        <div id="copy">
            &copy; @Config.DocumentName. All rights reserved. | Desing: <a href=" https://html5up.net/">HTML5 UP</a>
        </div>
    </div>
</footer>