
<header id="header">
    <div class="inner">
        <a href="~/images/avatar.jpg" class="image avatar"><img src="~/images/avatar.jpg" alt="" /></a>
        <h1>
            <strong>I am Max</strong>, i am very diligent <br />
            and and a very capable person<br />
            if you are reading this text, then you are the company of my dreams.
        </h1>
    </div>
</header>