

<section id="three">
    <h2>Feedback</h2>
    <p>If you want to contact me and you, for some reason, do not have my contact information - then you can use the form below and send me a letter by mail.</p>
    <div class="row">
        <div class="col-8 col-12-small">
            @using (Html.BeginForm("SendMessage", "Home", FormMethod.Post))
            {
                <div class="row gtr-uniform gtr-50">
                    <div class="col-6 col-12-xsmall">
                        <input type="text" name="name" id="name" placeholder="Name" />
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <input type="email" name="sender" id="email" placeholder="Email" />
                    </div>
                    <div class="col-12">
                        <textarea id="message" name="subject" placeholder="Subject" rows="2"></textarea>

                        <textarea id="message" name="body" placeholder="Message" rows="4"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" /></li>
                    </ul>
                </div>
            }

        </div>
    </div>
    <p>Choose a job you like and you won't have to work a single day in your life.</p>

</section>